.jumbotron {
	margin-left: -10vw;
	margin-right: -10vw;
}

#Woke {
	font-style: italic;
}

#SamHarrisPic {
	margin-left: .2em;
}

#Quote1 {
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
}

#Quote2 {
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
}
